@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(0, 0);
    }
    40% {
        transform: translate(-16px, -16px);
    }
    60% {
        transform: translate(-10px, -10px);
    }
}

a.text-6xl {
    transition: font-size 0.6s ease;
}

a.text-6xl:hover {
    font-size: 8xl;
    animation: bounce 1s;
}
